body{
background-color: #FFE6E8;
}

ul{
    list-style: none;
}

input, label{
    display: block;
}

a{
    color: black;
    text-decoration: none;
}

#data-form{
    background-color: azure;
}

#flavor-form{
    background-color: aliceblue;
}